.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    flex: 1 1 auto;
}

.Nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Nav li {
    font-size: 1.5rem;
    margin-left: 19px;
}

.Nav li:first-child {
    margin-left: 0px;
}

.navLogo {
    font-size: 2rem;
    font-weight: bold;
}
.Nav input {
    font-size: 20px;
    height: 60%;
    outline: none;
    border-style: solid;
    border-width: 2px;
    margin-right: 5px;
}

.Nav form {
  
    /* max-width: 50%; */
   
}

.search{
    display: flex;
    align-items: center;
    
}

.search button{
    font-size: 20px;
    height: 60%;
    outline: none;
    /* width: 50%; */
    border-color: rgb(0, 183, 255);
    background-image: none; 
    background-color: transparent; 
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
.search button:active{
    opacity: 0.5;
}
